:root {
  font-family: "Open Sans", sans-serif;
  background-color: #F5F4F0;
}
#page {
  width: 1120px;       /* largura fixa */
  margin: 0 auto;      /* centraliza na tela */
  padding: 60px 20px;     /* espaço interno opcional */
}

h1 {
  color: #E1624F;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}

h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
  margin-bottom: 4px;
}

 h2, h3, h4 {
   font-weight: bold;
   color: #1B1B1B;
   margin-top: 0;
}

p {
   font-size: 16px;
   color: #333;
}
.footer-line1 {
  width: 1120px;
  height: 0;
  border-top: 1px solid #D9D9D9;
  margin: 0 auto 64px; /* centraliza */
  /* margin-top: 40px; */
  margin-bottom: 64px; 
}

section p + p {
  font-weight: bold;
  margin-bottom: 16px;
}

.azul {
  color: #0C51A7;
  font-weight: bold;
}
.pink {
  color: #E5245E;
  font-weight: bold;
}
.roxo {
  color: #591B98;
  font-weight: bold;
}
.laranja {
  color: #E95E10;
  font-weight: bold;
}


figure {
  display: block;
  text-align: center;
  display: block;
  margin: 0 auto 40px;
  width: 1120px;
  height: 660px; /* altura fixa */
  object-fit: cover; 
  border-radius: 25px;
}

figcaption {
  font-size: 16px;
  font-style: italic;
  color: #333;
  margin-top: 24px;
  /* margin-bottom: 40px; */
  text-align: center;
}
img {
  border-radius: 25px;
  display: block;
  margin: 0 auto;
  width: 1120px;
  height: 350px;
  object-fit: cover;
}

.destino1 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.destino2, .destino3 {
  margin-top: 48px;
  margin-bottom: 20px;
}
.final {
  width: 1120px;        /* ocupa toda a largura do container */
  margin: 0 auto;       /* centraliza horizontalmente */
  text-align: center;   /* centraliza o texto */
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

.footer-line {
  width: 1120px;
  height: 0;
  border-top: 1px solid #D9D9D9;
  margin: 40px auto; /* centraliza */
  margin-top: 40px;
  margin-bottom: 40px;
}
footer {
  color: #333;
  margin: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  /* border-top: 1px solid #D9D9D9; linha separadora */
  /* padding-top: 20px;             espaço entre linha e texto */
}

footer .heart {
  width: 16px;
  height: 16px;
  display: inline-block;     /* garante que fique na linha */
  vertical-align: middle;    /* alinha com o texto */
  margin: 0 4px;             /* espaço dos lados */
}
