h1 {
  font-family: "Open Sans", sans-serif;
  color: #E1624F;
  font-size: 16;
  font-style: bold;
  text-transform: uppercase;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 36;
  font-style: bold;
}
